.button {
  margin: 10px;
  padding: 5px;
  width: 90px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  background-color: transparent;

  transition: all 400ms linear;
}
.button:hover {
  color: wheat;
  background-color: gray;
}
